body {
  font-family: 'Oxygen', sans-serif;
  background-color: black;
}

$borderRadius: 20px;
$winColor: rgba(241, 196, 15, 0.5);

@import "assets/scss/mixins";

@import "assets/scss/game-box";
@import "assets/scss/header";
@import "assets/scss/controls";
@import "assets/scss/board";